{% if setup_server|bool == True %}
write-kubeconfig-mode: "0644"
tls-san:
- {{ cluster_url }}
{% endif %}
{% if not initialize|bool == True %}
server: https://{{ cluster_url }}:9345
{% endif %}
token: {{ token }}
node-label:
- "test=yes"